[MASTER]
load-plugins=pylint_django
ignore=migrations, __init__.py, env

[MESSAGES CONTROL]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    C0415, # import-outside-toplevel

    R0801, # duplicate-code # This triggers for 2 duplicaate lines and I can't seem to up it to 6

    R0903, # too-few-public-methods

[FORMAT]
max-line-length=100

[DESIGN]
max-args=10
max-parents=20
