# Dependencies
Django~=3.0
psycopg2-binary~=2.8
Hypercorn~=0.10
djangorestframework~=3.11
shortuuid~=1.0
# django-simple-bulma~=2.0
git+https://github.com/JonasUJ/django-simple-bulma.git@index-sass-search
django-private-storage~=2.2
Pillow~=7.2
