{% load django_simple_bulma %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% bulma %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cloudstore</title>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                cloudstore
            </h1>
            <p class="subtitle">
                now with <strong>Bulma</strong>!
            </p>
        </div>
    </section>
</body>

</html>