@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

html {
    overflow-y: auto;
}

html::-webkit-scrollbar {
    width: 1em;
}

html::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
}

html::-webkit-scrollbar-thumb {
    background-color: #121212;
}

[v-cloak] {
    display: none
}

.modal-close::before, .delete::before, .modal-close::after, .delete::after {
    background-color: #FFF;
}

.modal-background-darker {
    background-color: rgba(10, 10, 10, 0.8);
}

.has-shadow {
    box-shadow: 0 1rem 1rem -0.5rem #121212;
}

#navbar progress {
    border: 2px solid #363134;
}

.is-clear {
    opacity: 0;
}

.is-flex-grow {
    flex-grow: 1;
}

.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%
}
