{% extends "base/base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block head %}
    <script src="{% static 'js/files.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/file-icon-vectors@1.0.0/dist/file-icon-vivid.min.css" />
{% endblock %}

{% block content %}
    <section @dragenter="dragenter($event)" id="items-section" class="section pt-4 is-unselectable">
        {% include 'snippets/home/homebar.html' %}
        <input type="hidden" name="pk" value="{{ request.user.pk }}">
        <input type="hidden" name="base_folder" value="{{ request.user.base_folder.pk }}">
        <div @dragenter.stop="dragenter($event)"
             @dragover.prevent="$event.dataTransfer.dropEffect = 'move'"
             @drop.stop.prevent="drop($event, folder)"
             :class="{'is-disabled': dragging}"
             id="main-container"
             class="container">
            <div v-if="folders.length" v-cloak class="divider">FOLDERS</div>
            <div v-if="folders.length" v-cloak id="folders" class="items columns is-multiline">
                {% include 'snippets/home/folders.html' %}
            </div>
            <div v-cloak class="divider">FILES</div>
            <div id="files" class="items columns is-multiline">
                {% include 'snippets/home/files.html' %}
            </div>
        </div>
        {% include 'snippets/home/upload_panel.html' %}
        {% include 'snippets/home/modal.html' %}
        {% verbatim %}
            <div v-if="dragging" class="drag box content has-background-black-bis">
                <h4 class="title is-4 has-text-primary mb-0">
                    <span class="icon mr-2">
                        <i v-if="type == 'file'" class="far fa-file"></i>
                        <i v-else-if="type == 'folder'" class="far fa-folder"></i>
                    </span>
                    {{ dragging }}
                </h4>
            </div>
        {% endverbatim %}
    </section>
{% endblock %}