{% extends "base/base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block head %}
    <script src="{% static 'js/files.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/file-icon-vectors@1.0.0/dist/file-icon-vivid.min.css" />
{% endblock %}

{% block content %}
    <section @dragenter="dragenter($event)" id="items-section" class="section pt-4 is-unselectable">
        {% include 'snippets/home/homebar.html' %}
        <input type="hidden" name="pk" value="{{ request.user.pk }}">
        <input type="hidden" name="base_folder" value="{{ request.user.base_folder.pk }}">
        <div @dragenter.stop="dragenter($event)"
             @dragover.prevent="$event.dataTransfer.dropEffect = 'move'"
             @drop.stop.prevent="drop($event, folder)"
             :class="{'is-disabled': dragging}"
             id="main-container"
             class="container">
            <div v-if="user"
                 :class="{'columns is-multiline': tiles()}"
                 class="items">
                <template v-if="tiles()" v-cloak>
                    <div v-if="folders.length" v-cloak class="divider column is-12">FOLDERS</div>
                    {% include 'snippets/home/folders.html' %}
                    <div class="divider column is-12">FILES</div>
                    {% include 'snippets/home/files.html' %}
                </template>
                <template v-else v-cloak>
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th>
                                    <button @click="setSorting('Name')" class="button is-dark has-text-primary has-text-weight-bold">
                                        Name
                                    </button>
                                </th>
                                <th class="is-hidden-mobile">
                                    <button @click="setSorting('Date')" class="button is-dark has-text-primary has-text-weight-bold">
                                        Date
                                    </button>
                                </th>
                                <th class="is-hidden-mobile">
                                    <button @click="setSorting('Size')" class="button is-dark has-text-primary has-text-weight-bold">
                                        Size
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% include 'snippets/home/folders.html' %}
                            {% include 'snippets/home/files.html' %}
                        </tbody>
                    </table>
                </template>
            </div>
        </div>
        {% include 'snippets/home/upload_panel.html' %}
        {% include 'snippets/home/modal.html' %}
        {% verbatim %}
            <div v-if="dragging && tiles()" class="drag box content has-background-black-bis">
                <h4 class="title is-4 has-text-primary mb-0">
                    <span class="icon mr-2">
                        <i v-if="type == 'file'" class="far fa-file"></i>
                        <i v-else-if="type == 'folder'" class="far fa-folder"></i>
                    </span>
                    {{ dragging }}
                </h4>
            </div>
            <div v-else-if="dragging" class="drag content pl-2 pt-2 pr-4 pb-3" id="list-drag">
                <span class="icon mr-2 is-medium">
                    <i :class="{'fa-file': type === 'file', 'fa-folder': type === 'folder'}" class="fas fa-lg"></i>
                </span>
                <span>
                    {{ dragging }}
                </span>
            </div>
        {% endverbatim %}
    </section>
{% endblock %}