{% verbatim %}

<template v-cloak v-if="tiles()">
    <div v-for="_folder in sortedFolders"
         :key="_folder.id"
         @keyup.delete="deleteObj(_folder)"
         class="folder column is-full-mobile is-6-tablet is-4-desktop is-3-widescreen is-one-fifth-fullhd is-2">
        <figure>
            <a @dblclick="openFolder(_folder.id)"
               @focusin="verify(_folder, folder.id); target = _folder"
               @focusout="target = target === _folder ? null : target"
               tabindex="0">
                <div @dragstart="drag($event, _folder, 'folder')"
                     @dragend="dragend($event, _folder, folder.id)"
                     @dragenter.stop="dragenter($event)"
                     @dragover.prevent="$event.dataTransfer.dropEffect = 'move'"
                     @drop.stop.prevent="drop($event, _folder)"
                     :class="{'is-disabled': dragging}"
                     draggable="true"
                     class="box has-background-black-bis">
                    <h4 class="title is-4 has-text-primary">
                        <span class="icon mr-2">
                            <i class="far fa-folder"></i>
                        </span>
                        {{ _folder.name }}
                    </h4>
                </div>
            </a>
        </figure>
    </div>
</template>

<template v-cloak v-else>
    <tr v-for="_folder in sortedFolders"
        :key="_folder.id"
        @keyup.delete="deleteObj(_folder)"
        @dblclick="openFolder(_folder.id)"
        @focusin="verify(_folder, folder.id); target = _folder"
        @focusout="target = target === _folder ? null : target"
        @dragstart="drag($event, _folder, 'folder')"
        @dragend="dragend($event, _folder, folder.id)"
        @dragenter.stop="dragenter($event)"
        @dragover.prevent="$event.dataTransfer.dropEffect = 'move'"
        @drop.stop.prevent="drop($event, _folder)"
        :class="{'is-disabled': dragging}"
        draggable="true"
        tabindex="0"
        class="folder">
        <td>
            <span :class="{'has-text-primary': target !== _folder}"
                  class="icon mr-2 is-medium">
                <i class="fas fa-lg fa-folder"></i>
            </span>
            <span>
                {{ _folder.name }}
            </span>
        </td>
        <td class="is-hidden-mobile"></td>
        <td class="has-text-right is-hidden-mobile">{{ folderSize(_folder) }} Items</td>
    </tr>
</template>

{% endverbatim %}