{% verbatim %}

<div id="homebar" class="container">
    <nav class="level">
        <div class="level-left">
            <nav v-if="breadcrumb.length > 1" v-cloak class="breadcrumb">
                <ul>
                    <li v-for="(_folder, key) in breadcrumb.slice().reverse()"
                        :class="{'is-active': key + 1 === breadcrumb.length}">
                        <a @click="openFolder(_folder.id)"
                        @click.prevent
                        @dragenter.stop="dragenter($event)"
                        @dragover.prevent="$event.dataTransfer.dropEffect = 'move'"
                        @drop.stop.prevent="drop($event, _folder)"
                        href="">
                            {{ _folder.name }}
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="level-right is-hidden-mobile">

            <div v-cloak class="level-item">
                <div @mousedown="current_target = target"
                     @click="current_target = null"
                     @mouseleave="current_target = null"
                     :class="{'is-hidden': !target && !current_target}"
                     class="buttons is-fullwidth has-addons">
                    <button @click="share(current_target)"
                            data-tooltip="Share"
                            class="button is-dark has-icons-left has-tooltip-bottom">
                        <span class="icon">
                            <i class="fas fa-share-square"></i>
                        </span>
                    </button>
                    <a @click.capture="download(current_target?.file)"
                       data-tooltip="Download"
                       class="button is-dark has-icons-left has-tooltip-bottom">
                        <span class="icon">
                            <i class="fas fa-download"></i>
                        </span>
                    </a>
                    <button @click.capture="modal.edit = current_target"
                            data-tooltip="Edit"
                            class="button is-dark has-icons-left has-tooltip-bottom">
                        <span class="icon">
                            <i class="fas fa-pen"></i>
                        </span>
                    </button>
                    <button @click.capture="deleteObj(current_target)"
                            data-tooltip="Delete"
                            class="button is-dark has-icons-left has-tooltip-bottom">
                        <span class="icon">
                            <i class="far fa-trash-alt"></i>
                        </span>
                    </button>
                </div>
            </div>

            <div class="level-item">
                <button @click="modal.newFolder = true" class="button has-icons-left is-fullwidth">
                    <span class="icon">
                        <i class="fas fa-folder"></i>
                    </span>
                    <span>New folder</span>
                </button>
            </div>

            <div class="level-item">
                <div class="file is-primary">
                    <label class="file-label">
                        <input @change="[...$event.target.files].forEach(async (f) => await handleFile(f))" multiple class="file-input" type="file" name="file-upload">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span class="file-label">
                                Upload
                            </span>
                        </span>
                    </label>
                </div>
            </div>

        </div>
    </nav>

    <nav class="level is-mobile">
        <div class="level-left is-hidden-mobile"></div>
        <div class="level-right is-flex-grow">

            <div class="level-item is-narrow">
                <span :class="{'is-clear': !syncing}"
                      id="sync" class="icon">
                    <i class="fas fa-sync-alt fa-spin"></i>
                </span>
            </div>

            <div class="level-item is-narrow">
                <div class="is-flex">
                    <div class="dropdown is-right">
                        <div class="dropdown-trigger">
                            <button class="button is-dark">
                                <span v-cloak>{{ sorting }}</span>
                            </button>
                        </div>
                        <div class="dropdown-menu" role="menu">
                            <div class="dropdown-content has-background-black-ter">
                                <a v-for="type in sortingTypes"
                                   @click="sorting = type"
                                   :class="{'is-active': type === sorting}"
                                   class="dropdown-item">
                                    {{ type }}
                                </a>
                            </div>
                        </div>
                    </div>

                    <button @click="ascending = !ascending"
                            :data-tooltip="'Sorting ' + (ascending ? 'lowest first' : 'highest first')"
                            class="button is-dark has-icons-left">
                        <span class="icon">
                            <i v-if="ascending" class="fas fa-arrow-down"></i>
                            <i v-else class="fas fa-arrow-up"></i>
                        </span>
                    </button>
                </div>
            </div>

            <div class="level-item is-narrow">
                <button @click="switchView"
                        :data-tooltip="'Viewing ' + (tiles() ? 'tiles' : 'list')"
                        class="button is-dark has-icons-left">
                    <span class="icon">
                        <i v-if="tiles()" class="fas fa-th"></i>
                        <i v-else class="fas fa-th-list"></i>
                    </span>
                </button>
            </div>

        </div>
    </nav>
</div>

{% endverbatim %}