{% verbatim %}

<div v-cloak class="modal" :class="{'is-active': showModal}">
    <div class="modal-background" @click="hideModal"></div>
    <div class="modal-content">

        <section v-if="modal.edit" class="section">
            <div class="box is-narrow">
                <div class="field">
                    <label for="edit-name" class="label is-normal">
                        Edit name
                    </label>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input @keydown.enter="editName"
                                       :value="modal.edit?.name"
                                       type="input" class="input"
                                       name="edit-name"
                                       placeholder="New name"
                                       id="edit-name">
                            </div>
                            <div class="control">
                                <button @click="editName" class="button">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section v-else-if="modal.newFolder" class="section">
            <div class="box is-narrow">
                <div class="field">
                    <label for="new-folder" class="label is-normal">
                        New Folder Name
                    </label>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input @keydown.enter="newFolder"
                                       type="input" class="input"
                                       name="new-folder"
                                       placeholder="Folder Name"
                                       id="new-folder">
                            </div>
                            <div class="control">
                                <button @click="newFolder" class="button">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section v-else-if="modal.error" class="section">
            <article class="message is-danger has-background-dark">
                <div class="message-body has-text-weight-bold">
                    {{ modal.error }}
                </div>
            </article>
        </section>

    </div>
    <button class="modal-close is-large" @click="hideModal"></button>
</div>

{% endverbatim %}