{% verbatim %}

<div v-cloak class="modal" :class="{'is-active': showModal}">
    <div :class="{'modal-background-darker': modal.file}"
         class="modal-background"
         @click="hideModal">
    </div>
    <div :class="{'modal-fit': modal.file && !isAudio(modal.file.ext)}"
         class="modal-content">

        <section v-if="modal.edit" class="section">
            <div class="box is-narrow">
                <div class="field">
                    <label for="edit-name" class="label is-normal">
                        Edit name
                    </label>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input @keydown.enter="editName"
                                       :value="modal.edit?.name"
                                       type="input" class="input"
                                       name="edit-name"
                                       placeholder="New name"
                                       id="edit-name">
                            </div>
                            <div class="control">
                                <button @click="editName" class="button">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section v-else-if="modal.newFolder" class="section">
            <div class="box is-narrow">
                <div class="field">
                    <label for="new-folder" class="label is-normal">
                        New Folder Name
                    </label>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input @keydown.enter="newFolder"
                                       type="input" class="input"
                                       name="new-folder"
                                       placeholder="Folder Name"
                                       id="new-folder">
                            </div>
                            <div class="control">
                                <button @click="newFolder" class="button">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section v-else-if="modal.error" class="section">
            <article class="message is-danger has-background-dark">
                <div class="message-body has-text-weight-bold">
                    {{ modal.error }}
                </div>
            </article>
        </section>

        <section v-else-if="modal.share" class="section">
            <div class="box is-narrow">
                <h4 class="title is-4">Share resource</h4>
                <h6 class="subtitle is-6">Share the download link with someone who has access to the resource</h6>
                <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <code><a :href="modal.share.file">{{ modal.share.file }}</a></code>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <button @click="copy(modal.share.file)" class="button is-dark">
                                <span class="icon is-medium">
                                    <i class="far fa-lg fa-clipboard"></i>
                                </span>
                                <span>Copy</span>
                            </button>
                        </div>
                    </div>
                </nav>
                <hr class="divider">
                <h5 class="title is-5">Who has access?</h5>
                <div class="field">
                    <label for="share-access-owner" class="label">
                        Only me
                    </label>
                    <div class="field">
                        <div class="control">
                            <input @change="shareChange($event, 0)"
                                   :checked="share_obj.state === 0"
                                   type="radio"
                                   name="share-access"
                                   id="share-access-owner"
                                   class="is-checkradio">
                            <label for="share-access-owner">
                                You are the only one with access.
                            </label>
                        </div>
                    </div>
                    <label for="share-access-link" class="label">
                        Link
                    </label>
                    <div class="field">
                        <div class="control">
                            <input @change="shareChange($event, 1)"
                                   :checked="share_obj.state === 1"
                                   type="radio"
                                   name="share-access"
                                   id="share-access-link"
                                   class="is-checkradio">
                            <label for="share-access-link">
                                Anyone with the link has access.
                            </label>
                        </div>
                    </div>
                    <label for="share-access-password" class="label">
                        Password
                    </label>
                    <div class="field">
                        <div class="control">
                            <input @change="shareChange($event, 2)"
                                   :checked="share_obj.state === 2"
                                   type="radio"
                                   name="share-access"
                                   id="share-access-password"
                                   class="is-checkradio">
                            <label for="share-access-password">
                                Anyone with the password has access.
                            </label>
                        </div>
                    </div>
                    <fieldset id="share-access-password-fieldset" disabled>
                        <div class="field">
                            <div class="control has-icons-left">
                                <input v-model="share_obj.key" class="input" type="password" placeholder="Choose a password" autocomplete="new-password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <input @click="shareSubmit(modal.share)" type="submit" name="share-save" value="Save" class="button input is-primary">
                    </div>
                </div>
            </div>
        </section>

        <div v-else-if="modal.file" class="container height-100">
            <template v-if="isImage(modal.file.ext)">
                <figure class="image image-fill height-100">
                    <img :src="modal.file.file">
                </figure>
            </template>

            <template v-else-if="isVideo(modal.file.ext)">
                <video controls :src="modal.file.file"></video>
            </template>

            <template v-else-if="isAudio(modal.file.ext)">
                <audio class="width-100" controls :src="modal.file.file"></audio>
            </template>

            <template v-else-if="modal.file.text">
                <template v-if="modal.file.size < 51250">
                    <pre v-highlightjs="fileContent" class="px-0 py-0"><code></code></pre>
                </template>

                <template v-else>
                    <button @click="download(modal.file.file)" class="modal-btn">
                        <h3 class="title is-3">File too big to preview, download it instead</h3>
                        <span class="icon is-large">
                            <i class="fas fa-download fa-2x"></i>
                        </span>
                    </button>
                </template>
            </template>

            <template v-else>
                <button @click="download(modal.file.file)" class="modal-btn width-100">
                    <h3 class="title is-3">Download file to view</h3>
                    <span class="icon is-large">
                        <i class="fas fa-download fa-2x"></i>
                    </span>
                </button>
                <div v-if="modal.file.size < 51250" class="has-text-centered mt-6">
                    <button @click="modal.file.text = true; setFileContent()" class="modal-btn">
                        <h5 class="subtitle is-5">
                            <i>Or click here to force text preview instead</i>
                        </h5>
                    </button>
                </div>
            </template>
        </div>

    </div>

    <div v-if="modal.file" class="modal-title">
        <h5 class="title is-5 pr-1">
            <span class="icon">
                <span :class="getIconClass(modal.file.ext)" class="fiv-viv"></span>
            </span>
            {{ shared_state.user.settings.show_ext ? modal.file.name : modal.file.clean_name }}
        </h5>
    </div>

    <button v-if="modal.file"
            @click="modal.file = next(modal.file, -1)"
            class="modal-btn navigate-btn is-left">
        <span class="icon is-large">
            <i class="fas fa-chevron-left fa-2x"></i>
        </span>
    </button>
    <button v-if="modal.file"
            @click="modal.file = next(modal.file, 1)"
            class="modal-btn navigate-btn is-right">
        <span class="icon is-large">
            <i class="fas fa-chevron-right fa-2x"></i>
        </span>
    </button>

    <button class="modal-close is-large" @click="hideModal"></button>
</div>

{% endverbatim %}