{% verbatim %}

<article v-cloak v-if="upload_queue.uploading.length + upload_queue.completed > 0" id="upload-panel" class="panel is-primary has-shadow has-background-black-ter">
    <div class="panel-heading is-flex">
        <div v-if="upload_queue.uploading.length > 0" class="is-flex">
            <p class="mr-2">
                Uploading {{ `${upload_queue.uploading.length} item${upload_queue.uploading.length === 1 ? '' : 's'}` }}
            </p>
            <a @click="abortAll"
               class="panel-icon is-medium"
               data-tooltip="Cancel all">
                <i class="fas fa-lg fa-times"></i>
            </a>
        </div>
        <div v-else class="is-flex">
            <p class="mr-2">
                Completed
            </p>
            <a @click="upload_queue.completed = 0"
               class="panel-icon is-medium"
               data-tooltip="Done">
                <i class="fas fa-lg fa-check"></i>
            </a>
        </div>
    </div>
    <div class="panel-block-container">
        <div v-for="item in sortedUploading" :key="item.id" class="panel-block is-block">

            <div v-if="item.type === 'file'" class="panel-block-title is-flex mx-2 my-2">
                <span class="panel-icon is-medium has-text-primary">
                    <i class="fas fa-lg fa-file"></i>
                </span>
                <h5 class="title is-5 has-text-primary has-text-weight-bold mb-0">
                    {{ item.name }}
                </h5>
                <a @click="item.abort()" class="panel-icon is-medium has-text-primary">
                    <i class="far fa-lg fa-times-circle"></i>
                </a>
            </div>

            <div v-if="item.type === 'folder'" class="panel-block-title is-flex mx-2 my-2">
                <span class="panel-icon is-medium has-text-primary">
                    <i class="fas fa-lg fa-folder"></i>
                </span>
                <h5 class="title is-5 has-text-primary has-text-weight-bold mb-0">
                    {{ item.name }}
                    <span class="is-size-6">
                        ({{ item._progress }} of {{ item.size }})
                    </span>
                </h5>
                <a @click="item.abort()" class="panel-icon is-medium has-text-primary">
                    <i class="far fa-lg fa-times-circle"></i>
                </a>
            </div>

            <progress v-if="item.counting" class="progress is-primary" max="100"></progress>
            <progress v-else :value="item.progress" class="progress is-primary" max="100"></progress>

        </div>
    </div>
    <div v-if="upload_queue.completed" class="panel-block px-4 py-3">
        <h5 class="title is-5 has-text-primary has-text-weight-bold">
            {{ `${upload_queue.completed} item${upload_queue.completed === 1 ? '' : 's'}` }} uploaded
        </h5>
    </div>
</article>

{% endverbatim %}