{% if field.is_hidden %}
    {{ field }}
{% else %}
    <div class="field {% if field.field.is_horizontal %}is-horizontal{% endif %}">
        {% if field.field.is_horizontal %}
            <div class="field-label is-normal">
                {% include 'snippets/label.html' %}
            </div>
            <div class="field-body">
                <div class="field">
                    {% include 'snippets/control.html' %}
                </div>
            </div>
        {% else %}
            {% include 'snippets/label.html' %}
            {% include 'snippets/control.html' %}
        {% endif %}
    </div>
{% endif %}