<footer class="footer">
    <div class="container has-text-centered">
        <div>
            <p>
                <i class="far fa-copyright"></i>
                {% now "Y" %}
                <strong>{{ request.site.name }}</strong>
            </p>
        </div>
        <div>
            <p>
                Built by
                <a href="https://github.com/JonasUJ/">JonasUJ</a>
                using Python
                <i class="fab fa-python"></i>
            </p>
        </div>
    </div>
</footer>